[Unit]
Description=Mount unit for core, revision 8268
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_8268.snap
Where=/snap/core/8268
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
